/*  your css code here. If applicable */
.container {
  position: relative;
  text-align: center;
	padding:10px;
	border:10px;
}

.container img{
	width:100%;
	
}

.container h1 {
  position: absolute;
	background-color: rgba(0, 0, 0, 0);
}

